:root {
  --pink: #ef476f;
  --orange: #ffd166;
  --green: #06d6a0;
  --blue: #118ab2;
  --dark-blue: #073b4c;
  /* font-family: 'Roboto', sans-serif; */
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

nav {
  width: 16vw;
  height: 100vh;
  background: var(--green);
  list-style: none;
  color: white;
  font-weight: bold;
  list-style-type: none;
  position: fixed;
  transition: 0.5s;
  overflow: hidden;
}

.icon-con {
  display: flex;
  align-items: center;
}

nav span {
  margin: 10px;
  margin-left: 20px;
}

nav iconify-icon {
  margin-left: 10px;
  margin-bottom: 5px;
}

.dashboard {
  margin-left: 5px;
}

#dash iconify-icon {
  margin-top: 10px;
  margin-left: 2px;
}

#dash {
  border-bottom: var(--blue) 5px solid;
}

nav li {
  list-style: none;
  width: 100%;
  position: relative;
}

nav li a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

nav li a:hover {
  background-color: var(--blue);
}

nav li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.2s;
}

nav ul li a.toggle {
  display: none;
}

nav.active {
  width: 250px;
}

@media (max-width: 1075px) {
  nav {
    /* left: -60px; */
    width: 55px;
  }

  #dash {
    margin-left: 0;
  }

  nav.active {
    left: 0;
  }

  nav ul li a.toggle {
    display: none;
  }
}
